############################
# EUREKA SERVICE DISCOVERY #
############################
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8761/eureka/
EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
EUREKA_CLIENT_FETCH_REGISTRY=false
EUREKA_INSTANCE_HOSTNAME=service-discovery
EUREKA_INSTANCE_PORT=8761

#####################
# API GATEWAY CONFIG #
#####################
API_GATEWAY_INSTANCE_HOSTNAME=gateway
API_GATEWAY_INSTANCE_PORT=8080

###########################
# AUTH-SERVICE CONFIG     #
###########################
AUTH_SERVICE_INSTANCE_HOSTNAME=auth-service
AUTH_SERVICE_INSTANCE_PORT=8081
AUTH_MONGODB_HOST=mongo-auth
AUTH_MONGODB_PORT=27017
AUTH_MONGODB_DATABASE=authservicedb
AUTH_MONGODB_URI=mongodb://mongo-auth:27017/authservicedb


#############################
# ANALYTICS-SERVICE CONFIG  #
#############################
ANALYTICS_SERVICE_INSTANCE_HOSTNAME=analytics-service
ANALYTICS_SERVICE_INSTANCE_PORT=8085
ANALYTICS_MONGODB_HOST=mongo-analytics
ANALYTICS_MONGODB_PORT=27017
ANALYTICS_MONGODB_DATABASE=analyticsservicedb
ANALYTICS_MONGODB_URI=mongodb://mongo-analytics:27017/analyticsservicedb

#############################
# AREA-SERVICE CONFIG  #
#############################
AREA_SERVICE_INSTANCE_HOSTNAME=area-service
AREA_SERVICE_INSTANCE_PORT=8086
AREA_MONGODB_HOST=mongo-area
AREA_MONGODB_PORT=27017
AREA_MONGODB_DATABASE=areaservicedb
AREA_MONGODB_URI=mongodb://mongo-area:27017/areaservicedb

#############################
# MACHINE-SERVICE CONFIG  #
#############################
MACHINE_SERVICE_INSTANCE_HOSTNAME=machine-service
MACHINE_SERVICE_INSTANCE_PORT=8084
MACHINE_MONGODB_HOST=mongo-machine
MACHINE_MONGODB_PORT=27017
MACHINE_MONGODB_DATABASE=machineservicedb
MACHINE_MONGODB_URI=mongodb://mongo-machine:27017/machineservicedb

#############################
# TRACKING-SERVICE CONFIG  #
#############################
TRACKING_SERVICE_INSTANCE_HOSTNAME=tracking-service
TRACKING_SERVICE_INSTANCE_PORT=8087
TRACKING_MONGODB_HOST=mongo-tracking
TRACKING_MONGODB_PORT=27017
TRACKING_MONGODB_DATABASE=trackingeservicedb
TRACKING_MONGODB_URI=mongodb://mongo-tracking:27017/trackingservicedb

#############################
# EMBEDDED-SERVICE CONFIG   #
#############################
EMBEDDED_SERVICE_INSTANCE_HOSTNAME=embedded-service
EMBEDDED_SERVICE_INSTANCE_PORT=8088
EMBEDDED_MONGODB_HOST=mongo-embedded
EMBEDDED_MONGODB_PORT=27017
EMBEDDED_MONGODB_DATABASE=embeddedservicedb
EMBEDDED_MONGODB_URI=mongodb://mongo-embedded:27017/embeddedservicedb

#############################
# PROMETHEUS CONFIGURATION  #
#############################
PROMETHEUS_INSTANCE_HOSTNAME=prometheus
PROMETHEUS_INSTANCE_PORT=9090

#############################
# GRAFANA CONFIGURATION     #
#############################
GRAFANA_INSTANCE_HOSTNAME=grafana
GRAFANA_INSTANCE_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

#############################
# GLOBAL MONGODB DEFAULTS   #
#############################
MONGODB_DEFAULT_PORT=27017
MONGODB_VOLUME_PATH=/data/db